<% layout('admin/layouts/admin_master') -%>


  <% block('head').append('<link type="text/css" rel="stylesheet" href="/css/fontawesome-all.css">') %>


    <div class="row">
      
      <div class="col-md-6">
          <div class="container">
        <form class="ml-5 mt-4  " method="post" action="/admin/projects/new" enctype="multipart/form-data">
          <div class="form-group ">
            <h4><label for="projectname">專案名稱</label></h4>
            <input class="form-control " name="projectname" id="projectname" placeholder="專案名稱">
          </div>

          <div class="form-grou">
            <h4><label for="">類別</label></h4>
            
            <%for(var i=0;i<categories.length;i++){%>
              <div class="form-check form-check-inline">
                <input class="form-check-input" name="category[]" type="checkbox" id="inlineCheckbox<%=i%>" value="<%=categories[i].name%>">
                <label class="form-check-label" for="inlineCheckbox<%=i%>">
                  <%-categories[i].name%>
                </label>
              </div>
              <%}%>
          </div>
          
          <div class="form-group ">
            <h4><label for="imageFile">專案圖片</label></h4>
            <input type="file" class="btn btn-primary" id="imageFile" name="imageFile" />
          </div>

          <div class="form-group ">
            <h4><label for="sort">排序</label></h4>
              <input class="form-control" value="" type="text" name="sort" id="sort" />
          </div>

          <div class="form-group ">
            <h4><label for="description">專案描述</label></h4>  
            
            <textarea class="form-control" value="" name="description" id="description"></textarea>
          </div>

          <button class="btn btn-primary pull-right" type="submit">確認送出</button>
        </form>
      </div>
    </div>
    
        <div class="col-md-6">
            <div class="container">        
                <%if(typeof errors !== 'undefined') { %>
                  <%for( let error in errors) { %>
                    <div class="alert alert-danger" role="alert">
                      <%= errors[error].msg %>
                    </div>
                  <% } %>
                <% } %>
            </div>
        </div>     
    </div>

    <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.3/classic/ckeditor.js"></script>
    <script>
      ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
          console.log(error);
        });

  
    </script>

<style>
    .ck-editor__editable {
      min-height: 100px;
  }
  </style>