<%- partial('partials/header.ejs') %>

    <div class="container my-5">
        <form class="form-signin" method="post" action="<%=form_action%>">
            <h2><%=title%></h2>
            <%if (err) { %>
                <span><%=err%></span>
            <% } %>
            <%if (register_success) { %>
                <span><%=register_success%></span>
            <% } %>
            <%if (requiresignin) { %>
                <span><%=requiresignin%></span>
            <% } %>
            <input type="text" class="form-control" name="username" placeholder="username"   autofocus="" />
            <input type="password" class="form-control" name="password" placeholder="password"  />
            <label class="checkbox">
                <input type="checkbox" value="remember-me"  name="rememberMe"> Remember me
            </label>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登入</button>
        </form>
    </div>

<%- partial('partials/footer.ejs') %>