<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/admin.css">
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

    <%- block('head').toString() %>
        <title>
            <%=title%>
        </title>
</head>
<% if(typeof msg !== 'undefined') { %>
    <span style="color:aliceblue;">
        <%=msg%>
    </span>
    <%}%>

        <body>
            <nav class=" header ">

                <div class="logo">
                    <a href="/admin">縮小檢視控制中心
                    </a>
                </div>
                <div class="title">
                    <%=title%>
                </div>
                <ul>
                    <li>
                        <a href="/admin">首頁</a>
                    </li>
                    <li>
                        <a href="/admin/signup">註冊</a>
                    </li>
                    <li>
                        <a href="/admin/signin">登入</a>
                    </li>
                    <li>
                        <a href="/admin/signout">登出</a>
                    </li>
                </ul>
            </nav>





            <div class="sidebar">
                <ul class="group">
                    <li>
                        作品管理 
                    </li>
                    <ul>
                        <li>
                            <a href="/admin/portfolios"> 所有作品 </a>
                        </li>
                        <li>
                            <a href="/admin/portfolios/featured"> 精選作品 </a>
                        </li>
                        <li>
                            <a href="/admin/portfolios/new"> 新增作品 </a>
                        </li>
                        <li>
                            <a href="/admin/portfolios/category"> 作品類別 </a>
                        </li>
                        
                    </ul>
                </ul>

                <ul class="group">
                    <li>
                         首頁外觀管理 
                    </li>
                    <ul>
                        <li>
                            <a href="/admin/menu"> 導航列管理 </a>
                        </li>
                    </ul>
                </ul>

            </div>

            <div class=" main">
                <div>
                    <%- body -%>
                </div>
            </div>


        </body>

        <footer>
            <%- block('footer').toString() %>
                </foote